*{
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body{
    background: #D5DBE2;
    color: #fff;
    list-style-type: none;
    color: #292828;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

button:hover{
    cursor: pointer;
}
